body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.signup{
    width: 400px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 150px;
    margin: 10% auto 10;
    text-align: center;
}
button{
    color: #fff;
    width:  100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;

}
.signup-btn{
    background-color:blue;
}
.log-btn{
    background-color:cornflowerblue;
}
hr{
    margin-top: 20px;
    width: 80%;
}
.or{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}